<main class="main" id="main">
    <div class="main__section">
        <h1 class="main__title">Buscador de <span class="main__title--span">series</span> de <span
                class="main__title--span">anime</span></h1>
        <div class="main__section--container">
            <img class="main__img" src="./assets/images/pikachu.png" alt="Pikachu">
            <h4 class="main__subtitle">Miranime</h4>
        </div>
    </div>
    <form class="form" action="">
        <label class="form__label" for="search">Busca aquí tu serie de anime</label>
        <input type="text" class="js-input form__input" name="search" id="search" placeholder="Ej: Naruto">
        <input type="submit" value="Buscar" class="js-btn-search form__btn">
        <input type="button" value="Reset" class="js-btn-reset form__btn">
    </form>
    <div class="list">
        <div class="list__container">
            <h2 class="list__container--title">Favoritas</h2>
            <ul class="js-list-favorites list__favorites">
            </ul>
            <button class="list__favorites--reset js-btn-reset-favorites hidden">Eliminar todos los favoritos</button>
        </div>

        <div class="list__container">
            <h2 class="list__container--title">Resultado</h2>
            <ul class="js-list-search list__search">
            </ul>
        </div>
    </div>
</main>