<main class="main" id="main">
    <h1>Buscador de <span>series</span> de <span>anime</span></h1>
    <form action="">
        <input type="text" class="js-input" name="search" id="search" placeholder="Ej: Naruto">
        <input type="submit" value="Buscar" class="js-btn-search">
        <input type="button" value="Reset" class="js-btn-reset">
    </form>
    <div class="list">
        <div class="list__container">
            <h2 class="list__container--title">Favoritas</h2>
            <ul class="js-list-favorites list__favorites">
            </ul>
        </div>

        <div class="list__container">
            <h2 class="list__container--title">Resultado</h2>
            <ul class="js-list-search list__search">
            </ul>
        </div>
    </div>
</main>