// fonts
$font-title-header: 'Rubik Moonrocks', cursive;
$font-subtitle-header: 'Cormorant SC', serif;
$font-main: 'Indie Flower', cursive;



// colors
$color-primary: #fff2f2;
$color-secondary: rgb(67, 66, 66);
$color-third: rgb(178, 176, 176);
$color-border: rgb(159, 47, 20);
