.header{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    &__img{
        width: 20vw;
    }
    &__section{
        color: white;
        
        
        &--title{
            font-size: 4rem;
            font-family: $font-title-header;
            text-transform: uppercase;
            text-align: center;
        }
        &--subtitle{
            font-family: $font-subtitle-header;
            font-size: 2rem;
        } 
        
        
    }
    
}