.main{
    min-height: 100vh;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 50px;
    border-top: solid 1px $color-third;
    &__section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        &--container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }
    &__title{
        font-size: 3.6rem;
        font-family: $font-subtitle-header;
        color: $color-primary;
        width: 450px;
        text-align: center;
        &--span{
            text-transform: capitalize;
        }
    }
    &__img{
        width: 100px;
    }
    &__subtitle{
        font-family: $font-title-header;
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-primary;
        

    }

}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;

    &__container{
        border: solid 2px $color-border;
        border-radius: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--title{
            width: 100%;
            border-bottom: solid 2px $color-border;
            padding: 5px;
            text-align: center;
            font-family: $font-title-header;
            font-size: 2.2rem;
            font-weight: 400;
            color: $color-primary;
            
            
        }
    }
    
    &__search{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 65vw;
        padding: 15px 5px;
        gap: 15px 5px;
    }
    &__favorites{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 33vw;
        padding: 15px 5px;
        gap: 15px 5px;
        &--reset{
            background-color: $color-secondary;
            border: $color-secondary;
            border-radius: 15px;
            padding: 10px 7px;
            color: $color-primary;
            font-size: 1.4rem;
            font-family: $font-main;
            width: 200px;
            
        }
    }

    
}
.serie{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
    height: 350px;
    padding: 0px 15px;
    border-radius: 15px;
    border: solid 1px $color-primary;
    &--search{
        color: $color-primary;
        &:hover{
            width: 200px;
            background-color: $color-primary;
            color: $color-secondary;
            transform: translateY(-10px);
            .serie__button--icon-plus{
                color: rgb(172, 4, 4);
            }
        }
    }
    &--favorite{
        background-color: $color-primary;
        color: $color-secondary;
        .serie__button--icon{
            color: rgb(172, 4, 4);
        }
        &:hover{
            width: 200px;
            background-color:transparent;
            color: $color-primary;
            transform: translateY(-10px);
            .serie__button--icon-remove{
                color: rgb(172, 4, 4);
            }
            .serie__button--icon{
                color: transparent;
            }
        }
        
    }
    &__title{
        font-size: 1.4rem;
        font-family: $font-main;
        height: 80px;
        text-align: center;
        
    }
    &__img{
        width: 150px;
        height: 210px;
    }
    &__button{
        border: transparent;
        background: transparent;
        &--icon{
            color: transparent;
            
        }
        &--icon-plus{
            color: transparent;
        }
        &--icon-remove{
            color: transparent;
        }
    }

}

.form {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &__label{
        font-size: 1.8rem;
        text-decoration: underline;
        font-family: $font-main;
        color: $color-primary;
    }
    &__input{
        width: 250px;
        font-size: 1.8rem;
        font-family: $font-main;
        padding-left: 10px;
        border-radius: 10px;
        border: solid 1px $color-primary;
        color: $color-third;
    }
    &__btn{
        width: 80px;
        font-size: 1.8rem;
        font-weight: 500;
        font-family: $font-subtitle-header;
        background-color: $color-primary;
        border-radius: 40px;
        border: solid 1px $color-primary;
        color: $color-secondary;
        &:hover{
            width: 100px;
            background-color: $color-border;
            color: $color-primary;
        }
    }
}

.hidden{
    display: none;
}