
.main{
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 50px;
    border-top: solid 1px rgb(199, 199, 199);
    &__section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        &--container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }
    &__title{
        font-size: 3.6rem;
        font-family: $font-subtitle-header;
        color: white;
        width: 450px;
        text-align: center;
        &--span{
            text-transform: capitalize;
        }
    }
    &__img{
        width: 100px;
    }
    &__subtitle{
        font-family: $font-title-header;
        text-transform: uppercase;
        font-size: 2rem;
        color: white;
        

    }

}

.list{
    display: flex;
    flex-direction: row;
    gap: 15px;

    &__container{
        border: solid 2px rgb(159, 47, 20);
        border-radius: 30px;
        &--title{
            border-bottom: solid 2px rgb(159, 47, 20);
            padding: 5px;
            text-align: center;
            font-family: $font-title-header;
            font-size: 2.2rem;
            font-weight: 400;
            color: white;
            
            
        }
    }
    
    &__search{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 60vw;
        padding: 10px;
        gap: 7px;
    }
    &__favorites{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 35vw;
        padding: 10px;
        gap: 7px;
    }

    
}
.serie{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    height: 350px;
    padding: 0px 15px;
    border-radius: 15px;
    border: solid 1px white;
    color: white;
    
    &__title{
        font-size: 1.4rem;
        font-family: $font-main;
        height: 80px;
        text-align: center;
        
    }
    &__img{
        width: 150px;
        height: 210px;
    }
    &--favorite{
        background-color: white;
        color: black;
        
    }
}

.form {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &__label{
        font-size: 1.8rem;
        text-decoration: underline;
        font-family: $font-subtitle-header;
        color: rgb(62, 62, 62);
    }
    &__input{
        width: 250px;
        font-size: 1.8rem;
        font-family: $font-main;
        padding-left: 10px;
        border-radius: 10px;
        border: solid 1px white;
        color: rgb(62, 62, 62);
    }
    &__btn{
        width: 80px;
        font-size: 1.8rem;
        font-weight: 500;
        font-family: $font-subtitle-header;
        background-color: white;
        border-radius: 40px;
        border: solid 1px white;
        color: rgb(62, 62, 62);
        &:hover{
            width: 100px;
            background-color: rgb(159, 47, 20);
            color: white;
        }
    }
}