.main{
    min-height: 95vh;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 50px;
    border-top: solid 1px $color-third;
    overflow-x: hidden;
    &__section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @media all and(min-width:768px){
            flex-direction: row-reverse;
        }
        &--container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }
    &__title{
        font-size: 3.2rem;
        font-family: $font-subtitle-header;
        color: $color-primary;
        width: 300px;
        text-align: center;
        @media all and(min-width:768px){
            font-size: 3.6rem;
            width: 450px;
        }
        &--span{
            text-transform: capitalize;
        }
    }
    &__img{
        width: 100px;
    }
    &__subtitle{
        font-family: $font-title-header;
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-primary;
        

    }

}

.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and(min-width:768px){
        flex-direction: row;
        justify-content:space-evenly;
        width: 80vw;
    }
    @media all and(min-width:1024px){
        width: 70vw;
    }
    &__label{
        font-size: 1.8rem;
        text-decoration: underline;
        font-family: $font-main;
        color: $color-primary;
    }
    &__input{
        width: 250px;
        font-size: 1.8rem;
        font-family: $font-main;
        padding-left: 10px;
        border-radius: 10px;
        border: solid 1px $color-primary;
        color: $color-third;
    }
    &__btn{
        width: 80px;
        font-size: 1.8rem;
        font-weight: 500;
        font-family: $font-subtitle-header;
        background-color: $color-primary;
        border-radius: 40px;
        border: solid 1px $color-primary;
        color: $color-secondary;
        &--container {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            @media all and(min-width:768px){
                margin-top: 0px;
                gap: 7px;
            }
        }
        &:hover{
            width: 100px;
            background-color: $color-border;
            color: $color-primary;
        }
    }
}

