.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    &__container{
        border: solid 2px $color-border;
        border-radius: 20px;
        @media all and(min-width:768px){
            border-radius: 30px;
        }
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--title{
            width: 100%;
            border-bottom: solid 2px $color-border;
            padding: 5px;
            text-align: center;
            font-family: $font-title-header;
            font-size: 1.8rem;
            font-weight: 400;
            color: $color-primary;
            @media all and(min-width:768px){
                font-size: 2.2rem;
            }
            
        }
    }
    &__search{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 52vw;
        padding: 5px;
        gap: 15px 5px;
        @media all and(min-width:768px){
            width: 63vw;
            padding: 15px 5px;
        }
    }
    &__favourites{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 33vw;
        padding: 15px 5px;
        gap: 15px;
        @media all and(min-width:768px){
            align-items: center;
        }
        &--reset{
            background-color: $color-secondary;
            border: $color-secondary;
            border-radius: 15px;
            padding: 10px 7px;
            color: $color-primary;
            font-size: 1.4rem;
            font-family: $font-main;
            width: 120px;
            @media all and(min-width:768px){
                width: 200px;
            }
            
        }
    }

    
}
.serie{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    height: 240px;
    padding: 0px 15px;
    padding-top: 10px;
    border-radius: 15px;
    border: solid 1px $color-primary;
    @media all and(min-width:768px){
        width: 170px;
        height: 350px;
    }
    &--search{
        color: $color-primary;
        &:hover{
            width: 110px;
            background-color: $color-primary;
            color: $color-secondary;
            transform: translateY(-10px);
            @media all and(min-width:768px){
                width: 200px;
            }
            .serie__button--icon-plus{
                color: rgb(172, 4, 4);
            }
        }
    }
    &--favourite{
        background-color: $color-primary;
        color: $color-secondary;
        .serie__button--icon{
            color: rgb(172, 4, 4);
        }
        &:hover{
            width: 110px;
            background-color:transparent;
            color: $color-primary;
            transform: translateY(-10px);
            @media all and(min-width:768px){
                width: 200px;
            }
            .serie__button--icon-remove{
                color: rgb(172, 4, 4);
            }
            .serie__button--icon{
                color: transparent;
            }
        }
        
    }
    &__title{
        font-size: 1.2rem;
        font-family: $font-main;
        height: 50px;
        
        @media all and(min-width:768px){
            height: 80px;
            text-align: center;
            font-size: 1.4rem;
        }
        
    }
    &__img{
        width: 80px;
        height: 120px;
        @media all and(min-width:768px){
            width: 150px;
            height: 210px;
        }
    }
    &__button{
        border: transparent;
        background: transparent;
        &--container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 5px;
            gap: 10px;
            @media all and(min-width:768px){
                gap: 30px;
            }
        }
        &--icon{
            color: transparent;
        }
        &--icon-plus{
            color: transparent;
        }
        &--icon-remove{
            color: transparent;
        }
    }

}
.favourite{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 0.5fr 0.25fr;
    padding: 10px;
    width: 110px;
    height: 260px;
    border-radius: 15px;
    border: solid 1px $color-third;
    background-color: #fbd87f;
    @media all and(min-width:768px){
        width: 250px;
        height: 200px;
        grid-template-columns: 0.25fr 1.75fr;
        grid-template-rows: 0.85fr 0.15fr;
        border-radius: 30px;
        padding: 10px 20px;
        gap: 10px;
    }
    @media all and(min-width:1024px){
        width: 320px;
        height: 190px;
        grid-template-columns: 0.3fr 1.25fr 0.15fr;
        grid-template-rows: 1fr;
        border-radius: 30px;
        padding: 10px 20px;
        gap: 10px;
    }
    &:hover{
        width: 120px;
        background-color:transparent;
        color: $color-primary;
        border: solid 2px $color-primary;
        transform: translateY(-10px);
        @media all and(min-width:768px){
            width: 260px;
        }
        @media all and(min-width:1024px){
            width: 330px;
        }
        .favourite__button--icon-remove{
            color: rgb(172, 4, 4);
        }
        .favourite__button--icon{
            color: transparent;
        }
    }
    &__title{
        font-size: 1.2rem;
        font-family: $font-main;
        text-align: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        @media all and(min-width:768px){
            font-size: 2rem;
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            height: 180px;
        } 
        @media all and(min-width:1024px){
            font-size: 1.8rem;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            height: 165px;
        } 
    }
    &__img{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 90px;
        height: 110px;
        border: 1.5px solid $color-border;
        @media all and(min-width:768px){
            width: 100px;
            height: 150px;
        }
        @media all and(min-width:1024px){
            width: 110px;
            height: 165px;
        }
    }
    &__button{
        border: transparent;
        background: transparent;
        &--container{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            gap: 5px;
            @media all and(min-width:768px){
                flex-direction: row-reverse;
                justify-content: left;
                gap: 20px;
                grid-row: 2 / 3;
            }
            @media all and(min-width:1024px){
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                padding-top: 90px;
            }
        }
        &--icon{
            color: rgb(172, 4, 4);
        }
        &--icon-remove{
            color: transparent;
        }
    }

}

.hidden{
    display: none;
}